/*
--------------------------------------------------------------------------------
HEADER
--------------------------------------------------------------------------------
*/
.fixed {
  background-color: $header-color;
  height: 150px;
}
.title-area {
  z-index: 100;
  margin: 0;
  padding: 0;
  height: 120px;
  display: inline-block;
  .name {
    height: 120px;
    img {
      height: 120px;
    }
  }
}
.name {
  img {
    display: block;
  }
  #social-media {
    display: block;
    margin-top: -1rem;
    z-index: 300;
    text-align: left;
    overflow: visible;
    span {
      display: inline-block;
      position: relative;
      height: 2.5rem;
      width: 2.5rem;
      margin-right: 1rem;
      .fa {
        position: absolute;
        color: $lg-green;
        padding: 0.5rem 1rem 1rem;
        font-size: 2rem;
      }
      .fa:hover {
        font-size: 2.2rem;
        cursor: pointer;
        transition: all 200ms ease-in-out;
      }
    }
  }
}
.top-bar {
  height: 150px;
  text-align: left !important;
  .top-bar-section {
    height: 120px;
    background-color: inherit;
    #user-menu {
      float: right;
      color: #fff;
      .cart {
        width: 100px;
        .cart-items,
        .cart-link {
          display: inline-block;
          width: 20px;
          margin: 0 !important;
          padding: 0 !important;
        }
      }
    }
    #nav-menu {
      float: right;
      clear: right;
      margin-top: 3.5rem;
      li {
        letter-spacing: 0.2rem;
      }
    }
  }
}
.top-bar .name h1 a:before {
  background-image: url(images/logo.png);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  height: 18px;
  margin-right: 10px;
  position: relative;
  width: 18px;
}

// Change things up when the top-bar is expanded
.top-bar.expanded {
  background-color: inherit;
  text-align: left;
  #user-menu,
  #nav-menu {
    text-align: center;
  }
}
.scale-up img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
  	-moz-transition: all 1s ease; /* Firefox */
  	-o-transition: all 1s ease; /* IE 9 */
  	-ms-transition: all 1s ease; /* Opera */
  	transition: all 1s ease;
}

.scale-up:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}
