<div class="row">
  <div class="small-12 columns">
    <div class="product-image-outer">
      <small class="lg-green-dark"><i>Select image below and hover to enlarge</i></small>
      <div class="product-image">
        <img {{bind-attr src=selectedImage.largeUrl}} class="small" width=300>
      </div>
    </div>
    <br>
  </div>

  <div class="small-12 columns">
    <div class="row">
      {{#each image in images}}
        <div class="small-3 columns left" {{action 'selectImage' image}}>
          <img {{bind-attr src=image.largeUrl}}>
        </div>
      {{/each}}
    </div>
  </div>
</div>
