<form>
  <fieldset>
    <legend>Order Details</legend>
    <div class="row">
      <div class="small-6 columns">
        <h6>Item Total:</h6>
      </div>
      <div class="small-6 columns text-right">
        <h6>{{format-number order.itemTotal format="$0.00"}}</h6>
      </div>
    </div>

    {{#if order.shipmentTotal}}
      <div class="row">
        <div class="small-6 columns">
          <h6>Shipping:</h6>
        </div>
        <div class="small-6 columns text-right">
          <h6>{{format-number order.shipmentTotal format="$0.00"}}</h6>
        </div>
      </div>
    {{/if}}

    {{#if order.includedTaxTotal}}
      <div class="row">
        <div class="small-6 columns">
          <h6>Tax:</h6>
        </div>
        <div class="small-6 columns text-right">
          <h6>{{format-number order.includedTaxTotal format="$0.00"}}</h6>
        </div>
      </div>
    {{/if}}

    <div class="row">
      <div class="small-6 columns">
        <h6>Order Total:</h6>
      </div>
      <div class="small-6 columns text-right">
        <h6>{{format-number order.total format="$0.00"}}</h6>
      </div>
    </div>

  </fieldset>
</form>
