<div class="row">
  {{#each products as |product|}}
    {{#link-to 'spree.products.show' product}}
      <div class="small-12 medium-6 large-2 columns text-center product-index">
        <img src= {{product.images.firstObject.largeUrl}}>
        <div class="product-sell">
          <h6 class="product-index-name">{{{product.name}}}</h6>
          <h6 class="product-index-price">{{product.displayPrice}}</h6>
        </div>
      </div>
    {{/link-to}}
  {{/each}}
</div>
