{{!-- <!-- Lets make a simple image magnifier -->
<div class="magnify">

	<!-- This is the magnifying glass which will contain the original/large version -->
	<div class="large"></div>

	<!-- This is the small image -->
	<img class="small" src="http://thecodeplayer.com/uploads/media/iphone.jpg" width="200"/>
</div> --}}
