{{#slick-carousel class="ember-carousel" autoplay=true autoplaySpeed=5000 slidesToShow=1 slidesToScroll=1 infinite=true dots=true fade=true speed=1000}}
	<div>
		<img src="assets/images/home-slide1.jpg?text=Slide+1">
	</div>
	<div>
		<img src="assets/images/home-slide2.jpg?text=Slide+2">
	</div>
	<div>
		<img src="assets/images/home-slide3.jpg?text=Slide+3">
	</div>
	<div>
		<img src="assets/images/home-slide4.jpg?text=Slide+3">
	</div>
{{/slick-carousel}}
