<div id="shop-modal" class="reveal-modal text-center small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Limited Time Only</h2>
  <p class="lead">Type in 'GREENTEAM'<br>into your order at checkout and receive<br> $10 DISCOUNT!</p>
  {{link-to "Shop Now" "spree.products" class="button"}}
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
{{!-- <a data-reveal-id="myModal">Click Me For A Modal</a> --}}
